/** By default, this is a mobile breakpoint **/
.container {
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;

  /** lg breakpoint **/
  @media (min-width: 1024px) {
    & {
      text-align: left;
    }
  }

  .title {
    letter-spacing: -0.025em;
    font-weight: 800;
    color: var(--text-black);

    font-size: 3rem /* 48px */;
    line-height: 1;

    /** sm breakpoint **/
    @media (min-width: 640px) {
      & {
        font-size: 3rem /* 48px */;
      }
    }

    /** md breakpoint **/
    @media (min-width: 768px) {
      & {
        font-size: 3.75rem /* 60px */;
      }
    }

    /** lg breakpoint **/
    @media (min-width: 1024px) {
      & {
        font-size: 4.5rem /* 72px */;
        line-height: 1;
      }
    }

    .title1 {
      color: rgba(249, 250, 251, 1);
    }

    .title2 {
      display: block;
      color: var(--text-purple);

      /** xl breakpoint **/
      @media (min-width: 1280px) {
        & {
          display: inline;
        }
      }

      /** lg breakpoint **/
      @media (min-width: 1024px) {
        & {
          padding-left: 0.5rem;
        }
      }

      /** xl breakpoint **/
      @media (min-width: 1280px) {
        & {
          display: inline;
        }
      }
    }
  }

  .subTitle {
    margin-top: 0.75rem;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;

    color: var(--text-white-100);

    /** sm breakpoint **/
    @media (min-width: 640px) {
      & {
        margin-top: 1.25rem;
        max-width: 36rem;
      }
    }

    /** md breakpoint **/
    @media (min-width: 768px) {
      & {
        margin-top: 1.25rem;
      }
    }

    /** lg breakpoint **/
    @media (min-width: 1024px) {
      & {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .buttonWrapper {
    margin-top: 1.25rem;

    /** sm breakpoint **/
    @media (min-width: 640px) {
      & {
        display: flex;
        margin-top: 2rem;
      }
    }

    /** lg breakpoint **/
    @media (min-width: 1024px) {
      & {
        justify-content: flex-start;
      }
    }

    .button {
      background-color: var(--text-purple-dark);
      cursor: pointer;
      color: white;
      outline: 0;
      border: 0;

      padding-top: 1rem /* 16px */;
      padding-bottom: 1rem /* 16px */;
      font-size: 1.125rem /* 18px */;
      line-height: 1.75rem /* 28px */;
      padding-left: 2.5rem /* 40px */;
      padding-right: 2.5rem /* 40px */;

      &:hover {
        background-color: var(--text-purple-dark);
      }

      /** md breakpoint **/
      @media (min-width: 768px) {
        & {
          padding-top: 1rem /* 16px */;
          padding-bottom: 1rem /* 16px */;
          font-size: 1.125rem /* 18px */;
          line-height: 1.75rem /* 28px */;
          padding-left: 2.5rem /* 40px */;
          padding-right: 2.5rem /* 40px */;
        }
      }
    }
  }
}
