.cardList {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem /* 24px */;
  row-gap: 1.5rem /* 24px */;

  @media (min-width: 640px) {
    & {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1024px) {
    & {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

.heading2 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  color: var(--text-white-100);
}
