.container {
  width: 768px;
  background-color: var(--black40);

  outline: none;
  border-radius: 10px;
  border: 1px solid var(--shadow10);

  @media (max-width: 768px) {
    & {
      width: 100%;
    }
  }
}

.containerFull {
  composes: container;
  // margin: 75px auto 40px; /** centers modal **/
  width: unset;
  background-color: unset;
  border-radius: unset;
  border: unset;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
}

/** gives box shadow to the video frame **/
.borderBoxShadow {
  -webkit-box-shadow: 0 3px 7px var(--shadow20);
  -moz-box-shadow: 0 3px 7px var(--shadow20);
  box-shadow: 0 3px 7px var(--shadow20);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 1;
  background: linear-gradient(to top, var(--black10), transparent 50%);
}

/** Makes video edges curvy **/
.videoPlayer {
  border-radius: 10px 10px 0 0;
  composes: borderBoxShadow;
}

.videoPlayerFull {
  composes: videoPlayer;
  border-radius: 0;
}

/** Modal body **/
.modalBody {
  padding: 0 3rem;
}

.modalBodyContent {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  column-gap: 2em;
  padding: 1em 0 0.5em;
}

.modalBodyContentFull {
  composes: modalBodyContent;
  column-gap: 10em;
}

.col1 {
  overflow-y: scroll;
  // height: calc(100vh - 500px);
}

.publishTime {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  margin-top: 0.5rem /* 24px */;
  margin-bottom: 0.5rem /* 8px */;
  color: var(--green10);
}

.text {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  color: var(--white10);
}

.description {
  margin-bottom: 0.5rem /* 8px */;
  margin-top: 0.75rem /* 12px */;
}

.col2 {
  color: var(--white10);
  line-height: 1.75rem /* 28px */;
  display: flex;
  flex-direction: column;
}

.subText {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  margin-left: 0;
  overflow-wrap: break-word;
}

.subTextWrapper {
  margin-top: 1.5rem /* 24px */;
}

.textColor {
  color: var(--gray10);
}

.channelTitle {
  color: var(--white30);
  margin: 0;
}
